<footer>
    <section>
        <h7 id="encabezadoFooter">Quienes somos?</h7>
        <h5>Somos una pagina de comida rapida online de delivery que ofrece 
        comida aquellas personas que deseen comer de forma rapida y sencilla.
        Enviando el producto a la ubicacion solicitada.
        </h5>
    </section>
    <section>
        <h6><i class="fa-solid fa-copyright"></i>2023/2024 Dely-house / Digital House</h6>
    </section>
</footer>