<header >
    <section class="volverInicio">
        <a href="/"><h1>D e l y - H o u s e</h1></a>
        <a href="/"> <h3>----F a s t   F o o t----</h3></a>
    </section>
    <nav id="contenedor" >
        <ul id="barra">
            <li><a href="/producto">PRODUCTOS</a></li>
            <li><a href="/novedades">NOVEDADES</a></li>
            <li><a href="/carrito">CARRITO</a></li>
        </ul>
        <ul id="login">
            <li><a href="/login">INICIAR SESION</a></li>
            <li><a href="/registro">REGISTRATE</a></li>
        </ul>
    </nav>
</header>