<header >
    <section class="volverInicio">
        <a href="/"><h1>D e l y - H o u s e</h1></a>
        <a href="/"> <h3>----F a s t   F o o t----</h3></a>
    </section>
    <nav id="contenedor" >
        <ul id="barra">
            <li><a href="/producto">PRODUCTOS</a></li>
            <li><a href="/novedades">NOVEDADES</a></li>
            <li><a href="/agregarProducto">CREAR PRODUCTO</a></li>
           
        </ul>
        <ul id="login">
            <li><a href="/usuario">Mi Perfil</a></li>
            <li><a href="/login" class="cerrarSesion">Cerrar Sesion</a></li>
        </ul>
    </nav>
    <script src=/js/cerrarsesion.js></script>
</header>