<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/headerUser.ejs") %>
    <main >
        <section id="main">
            <a href="https://www.facebook.com"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.whatsapp.com"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="https://www.tiktok.com"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://www.youtube.com"><i class="fa-brands fa-youtube"></i></a>
            <a href="https://www.gmail.com"><i class="fa-solid fa-envelope"></i></a>
        </section>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>