<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body class="body-login">
    <%- include("./partials/header.ejs") %>
    <main>
        <div class="login">
            <section class="formulario">
            <h3 id="BIENVENIDO"> B I E N V E N I D O </h3>   
            </section>
            <form action="#" method="post">
                <label>Usuario:</label>
                <input type="text" name="nombreUsuario" required placeholder="Ingresa tu nombre de usuario">
                <label>Contraseña:</label>
                <input type="password" name="passwordUsuario" required placeholder="Ingresa tu contraseña">
                <button class="button" type="submit">Ingresar</button>
                <button class="button" type="submit" id="forgot-password-btn">Olvide mi contraseña</button>
                <button class="button" type="submit">Registrarse</button>
            </form>
        </div>
    </main>
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>
</body>
</html>

