<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body class="body-login">
    <%- include("./partials/header.ejs") %>
    <main>   
        <div class="login">
            <form action="/login" method="POST" enctype="multipart/form-data>
                <h1 class="form-titulo">INICIO DE SESION</h1>
                <h1 class="form-titulo">DELY-HOUSE</h1>
                <div class="input">
                <label for="email"> Usuario:</label>
                <input type="email" name="email"  placeholder="Ingresa tu email">
                <label for="passwordUsuario">Contraseña:</label>
                <input type="password" name="passwordUsuario"  placeholder="Ingresa tu contraseña">
                <button class="button" type="submit">Ingresar</button>
                <button class="button" type="submit" id="forgot-password-btn">Olvide mi contraseña</button>
                <button class="button" type="submit">Registrarse</button>
            </form>
        </div>
    </main>
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>
</body>
</html>

