<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
 <%- include("./partials/header.ejs") %>
    <div class="login">
        <section>
        <h1>D e l y - H o u s e</h1>
        <h3>----F a s t   F o o t----</h3>
        <h3> BIENVENIDO </h3>   
        </section>
        <form action="#" method="post">
            <label>Usuario:</label>
            <input type="text" name="nombreUsuario" required placeholder="Ingresa tu nombre de usuario">
            <label>Contraseña:</label>
            <input type="password" name="passwordUsuario" required placeholder="Ingresa tu contraseña">
            <button type="submit">Ingresar</button>
            <button type="submit" id="forgot-password-btn">Olvide mi contraseña</button>
            <button type="submit">Registrarse</button>
        </form>
    </div>
     <%- include("./partials/footer.ejs") %>
</body>
</html>

