<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body class="body">
    <%- include("./partials/header.ejs") %>  
        <main>
                <section id="box-article">
                    <h3 class="subtitulo">NOVEDADES  !!!</h3>
                    <article >
                                <img src="/images/AC.png" alt="" height="470px">
                                <div >
                                <h3>AROS DE CEBOLLA</h3>
                                <h4>cebolla cortada en aros frita </h4>
                                </div>
                    </article>
                    <article >
                                <img src="/images/SP.png" alt="" height="300px">
                                <h3>SALCHIPAPAS</h3>
                                <h4>Porcion de papas con salchicha</h4>
                    </article>
                    <article >
                                <img src="/images/PCH.png" alt="" height="310">
                                <h3>PAPAS CHEDDAR</h3>
                                <h4>Porcion de papas fritas con bacon y cheddar</h4>
                    </article>
                </section>
        </main>
        <%- include("./partials/footer.ejs") %>
</body>
</html>
