<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Novedades.css">
    <title>Novedades</title>
</head>
<body>
        <header>
            <h1>¡NOVEDADES!</h1>
            <h2>nuevas opciones, mejores sabores</h2>
        </header>  
        <main>
                <section>
            <article id = "AC">
                        <img src="/images/AC.png" alt="" height="470px">
                        <div id="DAC">
                        <h3>AROS DE CEBOLLA</h3>
                        <h4>cebolla cortada en aros frita </h4>
                        </div>
            </article>
            <section id="P">
            <article id="SP">
                        <img src="/images/SP.png" alt="" height="300px">
                        <h3>SALCHIPAPAS</h3>
                        <h4>Porcion de papas con salchicha</h4>
            </article>
            <article id="PC">
                        <img src="/images/PCH.png" alt="" height="310">
                        <h3>PAPAS CHEDDAR</h3>
                        <h4>Porcion de papas fritas con bacon y cheddar</h4>
            </article>
             </section>
        </section>
        </main>
        <footer>
            <section>
                <h7>Quienes somos?</h7>
                <h5>Somos una pagina de comida rapida online de delivery que ofrece 
                comida aquellas personas que deseen comer de forma rapida y sencilla.
                Enviando el producto a la ubicacion solicitada.
                </h5>
            </section>
            <section>
                <h6><i class="fa-solid fa-copyright"></i>2023/2024 Dely-house / Digital House</h6>
            </section>     
        </footer>
</body>
</html>
