<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <main >
        <section id="mainNewProducto">
            <form action="">
                <label for="Producto">Nombre
                    <input type="text" placeholder="Crear Producto">
                    <button type="submit">enviar</button>
                </label>
            </form>
        </section>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>