<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <main >
        <section id="mainNewProducto">
            <form id="formularioNewProd" action=""> 
                <label for="NombreProd"></label>
                <input type="text"  name="Nombre" placeholder="Nombre Del Producto" id="NombreProd">
                
                <label for="DescripcionProd"></label>
                <input type="text" name="Descripcion" placeholder="Descripcion" id="DescripcionProd">
                
                <label for="PrecioProd"></label>
                <input type="number" name="Precio" min="0" placeholder="Precio" id="PrecioProd">
                
                <label for="ImagenProd"></label>
                <input type="file" name="Imagen"  id="ImagenProd">
                
                <input type="submit" value="Enviar" id="EnviarProd">
                <input type="reset" value="Cancelar" id="CancelarProd">
            </form>
        </section>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>