<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/eea4f475c8.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/productCart.css">
        <title>DELYHOUSE</title>
    </head>
<body>
    <header >
        <section>
            <h1>D e l y - H o u s e</h1>
            <h3>----F a s t   F o o t----</h3>
        </section>
        <nav id="contenedor" >
            <ul id="barra">
                <li><a href="#">PRODUCTOS</a></li>
                <li><a href="#">NOVEDADES</a></li>
                <li><a href="#">COMBOS ESPECIALES</a></li>
               
            </ul>
            <ul id="login">
                <li><a href="login.html">INICIAR SESION</a></li>
                <li><a href="#">REGISTRATE</a></li>
            </ul>
        </nav>
    </header>
     
    <main>

        <div class="container">
            <div class="row card mx-auto car">
                <div class="productos-carrito">



                    <div class="fila">
                        <img class="imagen" src="/images/hamburguesa.jpg" alt="plato"  width="300px">
                    </div>
                    <div class="col-2">
                        <h3>$1200</h3>
                    </div>
                    <div class="datos-carrito">
                        <h1>Hamburguesa</h1>
                    </div>
                    <div class="col-2 option-carrito">
                        <form action="">
                            <div class="option">
                                <input type="number" value="0" min="0" max="100" class="number-spinner"
                                    id="cantidad"><script>$("input[type='number']").InputSpinner();
                                    </script>
                            </div>
                        </form>
                    </div>
                   
                    

                    <div class="col-2 delete">
                        <form action="">
                            <a href=""><i class="fa-regular fa-credit-card"></i></a>
                        </form>
                    </div>





                    <div class="fila">
                        <img class="imagen" src="/images/milanesa.jpg" alt="plato"  width="300px">
                    </div>
                    <div class="col-2">
                        <h3>$1300</h3>
                    </div>
                    <div class="datos-carrito">
                        <h1>Milanesa</h1>
                    </div>
                    <div class="col-2 option-carrito">
                        <form action="">
                            <div class="option">
                                <input type="number" value="0" min="0" max="100" class="number-spinner"
                                    id="cantidad">
                            </div>
                        </form>
                    </div>
                    

                    <div class="col-2 delete">
                        <form action="">
                            <a href=""><i class="fa-regular fa-credit-card"></i></a>
                        </form>
                    </div>





                    <div class="fila">
                        <img class="imagen" src="/images/lomito.jpg" alt="plato"  width="300px">
                    </div>
                    <div class="col-2">
                        <h3>$1300</h3>
                    </div>
                    <div class="datos-carrito">
                        <h1>Lomito</h1>
                    </div>
                    <div class="col-2 option-carrito">
                        <form action="">
                            <div class="option">
                                <input type="number" value="0" min="0" max="100" class="number-spinner"
                                    id="cantidad">
                            </div>
                        </form>
                    </div>
                    

                    <div class="col-2 delete">
                        <form action="">
                            <a href=""><i class="fa-regular fa-credit-card"></i></a>
                        </form>
                    </div>





                    <div class="fila">
                        <img class="imagen" src="/images/napo 1.jpg" alt="plato"  width="300px">
                    </div>
                    <div class="col-2">
                        <h3>$1500</h3>
                    </div>
                    <div class="datos-carrito">
                        <h1>Napolitana p/1</h1>
                    </div>
                    <div class="col-2 option-carrito">
                        <form action="">
                            <div class="option">
                                <input type="number" value="0" min="0" max="100" class="number-spinner"
                                    id="cantidad"><script>$("input[type='number']").InputSpinner();
                                    </script>
                            </div>
                        </form>
                    </div>
                   

                    <div class="col-2 delete">
                        <form action="">
                            <a href=""><i class="fa-regular fa-credit-card"></i></a>
                        </form>
                    </div>





                    <div class="fila">
                        <img class="imagen" src="/images/napo 2.jpg" alt="plato"  width="300px">
                    </div>
                    <div class="col-2">
                        <h3>$2500</h3>
                    </div>
                    <div class="datos-carrito">
                        <h1>Napolitana p/2</h1>
                    </div>
                    <div class="col-2 option-carrito">
                        <form action="">
                            <div class="option">
                                <input type="number" value="0" min="0" max="100" class="number-spinner"
                                    id="cantidad">
                            </div>
                        </form>
                    </div>
                    

                    <div class="col-2 delete">
                        <form action="">
                            <a href=""><i class="fa-regular fa-credit-card"></i></a>
                        </form>
                    </div>





                    <div class="fila">
                        <img class="imagen" src="/images/pizza comun.jpg" alt="plato"  width="300px">
                    </div>
                    <div class="col-2">
                        <h3>$1000</h3>
                    </div>
                    <div class="datos-carrito">
                        <h1>Pizza Comun</h1>
                    </div>
                    <div class="col-2 option-carrito">
                        <form action="">
                            <div class="option">
                                <input type="number" value="0" min="0" max="100" class="number-spinner"
                                    id="cantidad">
                            </div>
                        </form>
                    </div>
                    

                    <div class="col-2 delete">
                        <form action="">
                            <a href=""><i class="fa-regular fa-credit-card"></i></a>
                        </form>
                    </div>





                    <div class="fila">
                        <img class="imagen" src="/images/pizza especial.jpg" alt="plato"  width="300px">
                    </div>
                    <div class="col-2">
                        <h3>$1200</h3>
                    </div>
                    <div class="datos-carrito">
                        <h1>Pizza Especial</h1>
                    </div>
                    <div class="col-2 option-carrito">
                        <form action="">
                            <div class="option">
                                <input type="number" value="0" min="0" max="100" class="number-spinner"
                                    id="cantidad"><script>$("input[type='number']").InputSpinner();
                                    </script>
                            </div>
                        </form>
                    </div>
                    

                    <div class="col-2 delete">
                        <form action="">
                            <a href=""><i class="fa-regular fa-credit-card"></i></a>
                        </form>
                    </div>





                    <div class="fila">
                        <img class="imagen" src="/images/empanadas.jpg" alt="plato"  width="300px">
                    </div>
                    <div class="col-2">
                        <h3>$1800</h3>
                    </div>
                    <div class="datos-carrito">
                        <h1>Empanadas Carne/Pollo/Arabes</h1>
                    </div>
                    <div class="col-2 option-carrito">
                        <form action="">
                            <div class="option">
                                <input type="number" value="0" min="0" max="100" class="number-spinner"
                                    id="cantidad">
                            </div>
                        </form>
                    </div>
                    

                    <div class="col-2 delete">
                        <form action="">
                            <a href=""><i class="fa-regular fa-credit-card"></i></a>
                        </form>
                    </div>





                    <div class="fila">
                        <img class="imagen" src="/images/pancho.jpg" alt="plato"  width="300px">
                    </div>
                    <div class="col-2">
                        <h3>$600</h3>
                    </div>
                    <div class="datos-carrito">
                        <h1>Pancho c/Queso</h1>
                    </div>
                    <div class="col-2 option-carrito">
                        <form action="">
                            <div class="option">
                                <input type="number" value="0" min="0" max="100" class="number-spinner"
                                    id="cantidad">
                            </div>
                        </form>
                    </div>
                    

                    <div class="col-2 delete">
                        <form action="">
                            <a href=""><i class="fa-regular fa-credit-card"></i></a>
                        </form>
                    </div>






                </div>
            </div>

            <div class="precio-carrito">
                <div class="col-6">
                    <form action="">
                        <button type="submit" class="btn btn-primary">Comprar</button>
                        <button type="reset" class="btn btn-primary">Cancelar</button>
                    </form>
                </div>
                <div class="col-6 total">
                    <h1>TOTAL: $XXX </h1>
                </div>


            </div>

        </div>
    </main>

    <footer>
        <section>
            <h7 id="encabezadoFooter">Quienes somos?</h7>
            <h5>Somos una pagina de comida rapida online de delivery que ofrece 
            comida aquellas personas que deseen comer de forma rapida y sencilla.
            Enviando el producto a la ubicacion solicitada.
            </h5>
        </section>
        <section>
            <h6><i class="fa-solid fa-copyright"></i>2023/2024 Dely-house / Digital House</h6>
        </section>
    </footer>

</body>
</html>
