<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <main>
            <section id = "HA">
                        <article id = "HM">
                            <h3> burger americana</h3>
                            <h4>pan de papa, bacon, cheddar, medallon de carne $1200</h4>
                            <img id = "A1" src="/images/burgerA2.png" alt="imagen">
                        </article>
                        <article id = "HC">
                          <div id = "DC">  
                            <h3> burger clasica</h3>
                            <h4>pan de papa, lechuga, tomate, queso dambo, medallon de carne $1000</h4>
                        </div>
                            <img src="/images/burgerS.png" alt="imagen">
                        </article>
            </section>
            <section id = "PI">
                <article id = "PM">
                    <h3> pizza muzzarella</h3>
                    <h4> queso muzzarella, oregano, aceituna</h4>
                    <img src="/images/pizzaM2.png" alt="imagen">
                    
                </article>
                <article id = "PN">
                    <h3> pizza napolitana</h3>
                    <h4> muzzarella, jamon cocido, tomate cortado</h4>
                    <img src="/images/pizzaN2.png" alt="imagen">
                </article>
            </section>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>
