<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/header.ejs") %>
    <main>
        <% products.forEach(product => {
            %>
            <section>
                <article >
                    <h3><%products.name%></h3>
                    <h4><%products.description%></h4>
                    <h4>$<%products.price%></h4>   
                    <img src="/images/<%= products.image %>" alt="imagen">
            </article>
            </section>
            <% 
        }) %>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>
