<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body id="bodyCarrito">
    <%- include("./partials/headerUser.ejs") %> 
    <main id="mainCarrito">
        <section>
            <h1 class="titular">MENÚ</h1>
            <div class="objetos">
                <article class="articulo">
                    <center><img id="img" src="/images/lomito.png" alt="Lomito"></center>
                    <div class="producto-desc">
                        <i class="fa-regular fa-credit-card"></i>
                        <div class="precios">
                            <p class="texto precio"><i class="fa-solid fa-dollar-sign">1300</i></p>
                        </div>
                        <h3 class="descripcionCarrito">Sandwich de Lomito</h3>
                            <form action="">
                                <div class="option">
                                    <input type="number" min="0">
                                </div>
                            </form>       
                    </div>
                </article>
                <article class="articulo">
                    <center><img id="img" src="/images/milanesa.png" alt="Lomito"></center>
                    <div class="producto-desc">
                        <i class="fa-regular fa-credit-card"></i>
                        <div class="precios">
                            <p class="texto precio"><i class="fa-solid fa-dollar-sign"> 1300</i></p>
                        </div>
                        <h3 class="descripcionCarrito">Sandwich de Milanesa</h3>
                        <form action="">
                            <div class="option">
                                <input type="number" min="0">
                            </div>
                        </form>       
                    </div>
                </article>
                <article class="articulo">
                    <center><img id="img" src="/images/pizzaM2.png" alt="Lomito"></center>
                    <div class="producto-desc">
                        <i class="fa-regular fa-credit-card"></i>
                        <div class="precios">
                            <p class="texto precio"><i class="fa-solid fa-dollar-sign"> 1800</i></p>
                        </div>
                        <h3 class="descripcionCarrito">Pizza Muzzarella</h3>
                        <form action="">
                            <div class="option">
                                <input type="number" min="0">
                            </div>
                        </form>        
                    </div>
                </article>
                <article class="articulo">
                    <center><img id="img" src="/images/pizzaN2.png" alt="Lomito"></center>
                    <div class="producto-desc">
                        <i class="fa-regular fa-credit-card"></i>
                        <div class="precios">
                            <p class="texto precio"><i class="fa-solid fa-dollar-sign"> 1900</i></p>
                        </div>
                        <h3 class="descripcionCarrito">Pizza Napolitana</h3>
                        <form action="">
                            <div class="option">
                                <input type="number" min="0">
                            </div>
                        </form>        
                    </div>
                </article>
                <article class="articulo">
                    <center><img id="img" src="/images/napo 1.png" alt="Lomito"></center>
                    <div class="producto-desc">
                        <i class="fa-regular fa-credit-card"></i>
                        <div class="precios">
                            <p class="texto precio"><i class="fa-solid fa-dollar-sign"> 2200</i></p>
                        </div>
                        <h3 class="descripcionCarrito">Napolitana</h3>
                        <form action="">
                            <div class="option">
                                <input type="number" min="0">
                            </div>
                        </form>        
                    </div>
                </article>
                <article class="articulo">
                    <center><img id="img" src="/images/burgerA2.png" alt="Lomito"></center>
                    <div class="producto-desc">
                        <i class="fa-regular fa-credit-card"></i>
                        <div class="precios">
                            <p class="texto precio"><i class="fa-solid fa-dollar-sign"> 1800</i></p>
                        </div>
                        <h3 class="descripcionCarrito">Hamburguesa Americana</h3>
                        <form action="">
                            <div class="option">
                                <input type="number" min="0">
                            </div>
                        </form>       
                    </div>
                </article>
                <article class="articulo">
                    <center><img id="img" src="/images/burgerA3.png" alt="Lomito"></center>
                    <div class="producto-desc">
                        <i class="fa-regular fa-credit-card"></i>
                        <div class="precios">
                            <p class="texto precio"><i class="fa-solid fa-dollar-sign"> 1700</i></p>
                        </div>
                        <h3 class="descripcionCarrito">Hamburguesa Clasica</h3>
                        <form action="">
                            <div class="option">
                                <input type="number" min="0">
                            </div>
                        </form>        
                    </div>
                </article>
                <article class="articulo">
                    <center><img id="img" src="/images/pancho.png" alt="Lomito"></center>
                    <div class="producto-desc">
                        <i class="fa-regular fa-credit-card"></i>
                        <div class="precios">
                            <p class="texto precio"><i class="fa-solid fa-dollar-sign"> 1000</i></p>
                        </div>
                        <h3 class="descripcionCarrito">Pancho Completo</h3>
                        <form action="">
                            <div class="option">
                                <input type="number" min="0">
                            </div>
                        </form>        
                    </div>
                </article>
                <article class="articulo">
                    <center><img id="img" src="/images/empanadas.png" alt="Lomito"></center>
                    <div class="producto-desc">
                        <i class="fa-regular fa-credit-card"></i>
                        <div class="precios">
                            <p class="texto precio"><i class="fa-solid fa-dollar-sign"> 2100</i></p>
                        </div>
                        <h3 class="descripcionCarrito">Empanada</h3>
                        <form action="">
                            <div class="option">
                                <input type="number" min="0">
                            </div>
                        </form>       
                    </div>
                </article>
            </div>
        </section>
            <div class="precio-carrito">
                <div class="compra/cancelar">
                    <form action="">
                        <button class="comprar" type="submit" class="btn btn-primary">Comprar</button>
                        <button class="cancelar"type="reset" class="btn btn-primary">Cancelar</button>
                    </form>
                </div>
                <div class="total">
                    <h1>TOTAL: $  </h1>
                </div>
            </div>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>
