<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body id="bodyCarrito">
    <%- include("./partials/header.ejs") %> 
    <main id="mainCarrito">
        <section>
            <h1 class="titular">MENÚ</h1>
            <div class="objetos">
                <article>
                    <center><img id="img" src="/images/Lomito.jpg" alt="Lomito"></center>
                    <div class="producto-desc">
                        <span><i class="fa-solid fa-dollar-sign"></i></span>
                        <span><i class="fa-regular fa-credit-card"></i></span>
                        <div class="precios">
                            <p class="texto precio">$1300</p>
                        </div>
                        <h3 class="descripcion">Sandwich de Lomito</h3>
                            <form action="">
                                <div class="option">
                                    <input type="number" value="0" min="0" max="100" class="number-spinner"
                                        id="cantidad"><script>$("input[type='number']").InputSpinner();
                                        </script>
                                </div>
                            </form>       
                    </div>
                </article>
                <article>
                    <center><img id="img" src="/images/milanesa.jpg" alt="milanesa" ></center>
                    <div class="producto-desc">
                        <span><i class="fa-solid fa-dollar-sign"></i></span>
                        <span><i class="fa-regular fa-credit-card"></i></span>                       
                        <div class="precios">
                            <p class="texto precio">$1300</p>
                        </div>
                        <h3 class="descripcion">Sandwich de Milanesa</h3>
                        <div class="col-2 option-carrito">
                            <form action="">
                                <div class="option">
                                    <input type="number" value="0" min="0" max="100" class="number-spinner"
                                        id="cantidad"><script>$("input[type='number']").InputSpinner();
                                        </script>
                                </div>
                            </form>
                        </div>
                    </div>
                </article>
                <article>
                    <center><img id="img" src="/images/napo 1.jpg" alt="Napo 1" ></center>
                    <div class="producto-desc">
                        <span><i class="fa-solid fa-dollar-sign"></i></span>
                        <span><i class="fa-regular fa-credit-card"></i></span>
                        <div class="precios">
                            <p class="texto precio">$1500</p>
                        </div>
                        <h3 class="descripcion">Napolitana p/1</h3>
                        <div class="col-2 option-carrito">
                            <form action="">
                                <div class="option">
                                    <input type="number" value="0" min="0" max="100" class="number-spinner"
                                        id="cantidad"><script>$("input[type='number']").InputSpinner();
                                        </script>
                                </div>
                            </form>
                        </div>
                    </div>
                </article>
                <article>
                    <center><img id="img" src="/images/burgerA2.png" alt="napo 2" ></center>
                    <div class="producto-desc">
                        <span><i class="fa-solid fa-dollar-sign"></i></span>
                        <span><i class="fa-regular fa-credit-card"></i></span>
                        <div class="precios">
                            <p class="texto precio">$2500</p>
                        </div>
                        <h3 class="descripcion">Napolitana p/2</h3>
                        <div class="col-2 option-carrito">
                            <form action="">
                                <div class="option">
                                    <input type="number" value="0" min="0" max="100" class="number-spinner"
                                        id="cantidad"><script>$("input[type='number']").InputSpinner();
                                        </script>
                                </div>
                            </form>
                        </div>
                    </div>
                </article>
                <article>
                    <center><img id="img" src="/images/burgerA3.png" alt="hamburguesa" ></center>
                    <div class="producto-desc">
                        <span><i class="fa-solid fa-dollar-sign"></i></span>
                        <span><i class="fa-regular fa-credit-card"></i></span>
                        <div class="precios">
                            <p class="texto precio">$1200</p>
                        </div>
                        <h3 class="descripcion">Hamburguesa</h3>
                        <div class="col-2 option-carrito">
                            <form action="">
                                <div class="option">
                                    <input type="number" value="0" min="0" max="100" class="number-spinner"
                                        id="cantidad"><script>$("input[type='number']").InputSpinner();
                                        </script>
                                </div>
                            </form>
                        </div>
                    </div>
                </article>
                <article>
                    <center><img id="img" src="/images/pizzaM2.png" alt="pizza comun" ></center>
                    <div class="producto-desc">
                        <span><i class="fa-solid fa-dollar-sign"></i></span>
                        <span><i class="fa-regular fa-credit-card"></i></span>
                        <div class="precios">
                            <p class="texto precio">$1000</p>
                        </div>
                        <h3 class="descripcion">Pizza Común</h3>
                        <div class="col-2 option-carrito">
                            <form action="">
                                <div class="option">
                                    <input type="number" value="0" min="0" max="100" class="number-spinner"
                                        id="cantidad"><script>$("input[type='number']").InputSpinner();
                                        </script>
                                </div>
                            </form>
                        </div>
                    </div>
                </article>
                <article>
                    <center><img id="img" src="/images/pizzaN2.png" alt="pizza especial" ></center>
                    <div class="producto-desc">
                        <span><i class="fa-solid fa-dollar-sign"></i></span>
                        <span><i class="fa-regular fa-credit-card"></i></span>
                        <div class="precios">
                            <p class="texto precio">$1300</p>
                        </div>
                        <h3 class="descripcion">Pizza Especial</h3>
                        <div class="col-2 option-carrito">
                            <form action="">
                                <div class="option">
                                    <input type="number" value="0" min="0" max="100" class="number-spinner"
                                        id="cantidad"><script>$("input[type='number']").InputSpinner();
                                        </script>
                                </div>
                            </form>
                        </div>
                    </div>
                </article>
                <article>
                    <center><img id="img" src="/images/empanadas.jpg" alt="empanadas" ></center>
                    <div class="producto-desc">
                        <span><i class="fa-solid fa-dollar-sign"></i></span>
                        <span><i class="fa-regular fa-credit-card"></i></span>
                        <div class="precios">
                            <p class="texto precio">$1600</p>
                        </div>
                        <h3 class="descripcion">Empanadas de Pollo/Carne</h3>
                        <div class="col-2 option-carrito">
                            <form action="">
                                <div class="option">
                                    <input type="number" value="0" min="0" max="100" class="number-spinner"
                                        id="cantidad"><script>$("input[type='number']").InputSpinner();
                                        </script>
                                </div>
                            </form>
                        </div>
                    </div>
                </article>
                <article>
                    <center><img id="img" src="/images/pancho.jpg" alt="pancho" ></center>
                    <div class="producto-desc">
                        <span><i class="fa-solid fa-dollar-sign"></i></span>
                        <span><i class="fa-regular fa-credit-card"></i></span>
                        <div class="precios">
                            <p class="texto precio">$600</p>
                        </div>
                        <h3 class="descripcion">Super Pancho c/Queso</h3>
                        <div class="col-2 option-carrito">
                            <form action="">
                                <div class="option">
                                    <input type="number" value="0" min="0" max="100" class="number-spinner"
                                        id="cantidad"><script>$("input[type='number']").InputSpinner();
                                        </script>
                                </div>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </section>
            <div class="precio-carrito">
                <div class="compra/cancelar">
                    <form action="">
                        <button class="comprar" type="submit" class="btn btn-primary">Comprar</button>
                        <button class="cancelar"type="reset" class="btn btn-primary">Cancelar</button>
                    </form>
                </div>
                <div class="total">
                    <h1>TOTAL: $XXX </h1>
                </div>
            </div>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>
