<!DOCTYPE html>
<html lang="es">
  <%- include("./partials/head.ejs") %>
<body class="body-registro">
  <%- include("./partials/header.ejs") %>
  <main>
    <div class="container">
      <form action="" >
          <h1 class="form-titulo">REGISTRATE A</h1>
          <h1 class="form-titulo">DELY-HOUSE</h1>
          <div class="input">
          <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
          </div>  
          <div>
          <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required> 
          </div>
          <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
          </div>
          <div>
            <label for="contrasenia">Contraseña</label>
            <input type="password" id="contrasenia" required>
          </div>
          <div>
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" name="direccion" required>
          </div>
          <div>
            <label for="ciudad">Ciudad:</label>
            <input type="text" id="ciudad" name="ciudad" required>
          </div>
          <div>
            <label for="provincia">Provincia:</label>
            <select name="provincia" id="Provincia">
                <option value="" sidable selected>Selecciona una Provincia</option>
                <option value="jujuy">Jujuy</option>
                <option value="salta">Salta</option>
                <option value="tucuman">Tucuman</option>
                <option value="cordoba">Cordoba</option>
                <option value="bs as">Buenos Aires</option>
            </select>
          </div>
          <div>
            <label for="codigo-postal">Código Postal:</label>
            <input type="number" id="codigo-postal" name="codigo-postal" required>
          </div>
          <div>
            <label for="pais">Pais:</label>
            <select name="pais" id="Pais">
                <option value="" disabled selected>Selecciona un Pais</option>
                <option value="argentina">Argentina</option>
            </select>
          </div>
          <div class="recuerdame">
            <input type="checkbox" name="recuerdame" id="Recuerdame">
            <label for="recuerdame">Recuerdame</label>
          </div>
          <div class="recuerdame">
          <input type="submit" value="REGISTRARME">
          </div>
      </form>
    </div>
  </main>
  <footer>
    <%- include("./partials/footer.ejs") %>
  </footer>
</body>
</html>
