* {
    box-sizing: border-box;
    margin:10px;
    padding:0px;
}
img {

    height: 300px;
    
    width: 400px;
    
    }
main{
    width: 90%;
    text-align: center;
    }

section .objetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
}

main article{
    margin: 10px;
    margin-top: 40px;
    width: 420px;
    background-color:white;
    height: 500px;
    border-radius: 5px;
    
}

body{
    background-image: url('../images/fondo1.jpg');
    background-size: cover;
}
section h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: fantasy;
}
section h3{
    text-align: center;
    color: rgb(207, 56, 56);
    font-family: fantasy;
}
section h1{
    font-size: 50px;
    margin-bottom: 0px;
}
section h3{
    margin-top: 0px;
    font-size:30px ;
}
nav ul{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    font-family: sans-serif ;
    font-size: 13px;
    color: rgb(255, 255, 255);
}
.producto-desc{
    border-top: solid 1px #ebebeb;
    padding: 15px;
    position: relative;
}

.producto-desc span{
    display: flex;
    justify-content: center;
}

i.fa-regular.fa-credit-card {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.fa-credit-card {
    font-size: 16px;
    padding: 2px;
    width: 30px;
    height: 30px;
    color: rgb(46, 182, 46);
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    right: 40px;
    top: -15px;

}
i.fa-solid.fa-dollar-sign {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.fa-dollar-sign {
    font-size: 16px;
    padding: 2px;
    width: 30px;
    height: 30px;
    color: rgb(46, 182, 46);
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    
    right: 20px;
    top: -15px;

}

#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


#barra{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
}
#barra li a{
    padding: 3px 6px;
    margin-left: 50px;
    margin-right: 30px;
    background-color: #c71755;
    box-shadow: 1px 1px 0px;
    transition: all 450ms;
}
#barra li a:hover{
    padding: 10px;
    color: rgb(231, 229, 229);
    background-color:rgb(71, 16, 43) ;
    border-radius: 50%;
}
#login li a:hover{
    padding: 10px;
    color: rgb(231, 229, 229);
    background-color:rgb(40, 16, 71) ;
    border-radius: 50%;
}
#login{
     display: flex;
     flex-wrap: wrap;
     margin: 0px;
}
#login li a{
    padding: 3px 6px;
    margin-left: 20px;
    background-color: #c71755;
    box-shadow: 1px 1px 0px;
    transition: all 450ms;
}
#login hr{
   color: aqua;
}

footer{
    text-align: center;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.397) ;
    
}
#encabezadoFooter{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    font-family: sans-serif ;
    color: rgb(255, 255, 255);
}