.objetos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
.titular{
    text-align: center;
    color: white;
}
.articulo{
    margin: 10px;
    margin-top: 40px;
    width: 25vw;
    height: 80vh;
    border: 1px solid rgb(90, 88, 88);
    background-color:rgba(124, 121, 121, 0.753);
    border-radius: 5px;
}
.articulo p{
    color: #FFF;
}
#img{
    margin-top: 10px;
    width: 90%;
    
}
.producto-desc{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    
}



i.fa-regular.fa-credit-card {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.fa-credit-card {
    font-size: 16px;
    padding: 2px;
    width: 30px;
    height: 30px;
    color: rgb(0, 0, 0);
    border: 1px solid #000000;
    background-color: #c71755;
    border-radius: 50%;
    right: 40px;
    top: -15px;

}
i.fa-solid.fa-dollar-sign {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.fa-dollar-sign {
    padding: 15px;
    width: 50px;
    color: rgb(255, 255, 255);
    border-top: 1px solid #000000;
    border-left: 1px solid #000000;
    background-color: #c71755;
}

.precio-carrito{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    width: 30vw;
    margin: auto;
}
.comprar,.cancelar{
    margin-top: 10px;
    border-radius: 15px;
    padding: 15px;
    width: 150px;
    margin: auto;
    font-family:sans-serif;
    font-size: 20px;
    color: #FFF;
    background-color: #c71755;
    box-shadow: 1px 1px 0px;
    transition: all 450ms;
}
.comprar:hover , .cancelar:hover{
    background-color:rgb(71, 16, 43) ;
    border-radius: 50%;
}
.cancelar{
    margin-top: 5px;
}
.total{
    text-align: center;
    margin-top: 10px;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.61);
    border-radius: 5px;
    margin-bottom: 150px;
    font-family: sans-serif;
}