body{
    background-image: url('../images/fondocarrito.jpg');
    background-size: cover;
}
section h1,h3{
    text-align: center;
    color: rgb(255, 255, 255);
    font-family: fantasy;
}
section h1{
    font-size: 50px;
    margin-bottom: 0px;
}
section h3{
    margin-top: 0px;
    font-size:30px ;
}
nav ul{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    font-family: sans-serif ;
    font-size: 13px;
    color: rgb(255, 255, 255);
}

#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}


#barra{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
}
#barra li a{
    padding: 3px 6px;
    margin-left: 50px;
    margin-right: 30px;
    background-color: #c71755;
    box-shadow: 1px 1px 0px;
    transition: all 450ms;
}
#barra li a:hover{
    padding: 10px;
    color: rgb(231, 229, 229);
    background-color:rgb(71, 16, 43) ;
    border-radius: 50%;
}
#login li a:hover{
    padding: 10px;
    color: rgb(231, 229, 229);
    background-color:rgb(40, 16, 71) ;
    border-radius: 50%;
}
#login{
     display: flex;
     flex-wrap: wrap;
     margin: 0px;
}
#login li a{
    padding: 3px 6px;
    margin-left: 20px;
    background-color: #c71755;
    box-shadow: 1px 1px 0px;
    transition: all 450ms;
}
#login hr{
   color: aqua;
}

main{
    width: 90%;
    text-align: center;
}

main article{
    margin: 10px;
    margin-top: 40px;
    width: 310px;
    background-color: white;
    height: 400px;
    border-radius: 5px;
}
main{
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    font-family: sans-serif ;
    font-size: 0px;
    color: rgb(255, 255, 255);
}

main .datos-carrito{
    text-align: center;
}
main h1{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
main h3{
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}


main input{
    width: 70%;
    border-radius: 40px;
    
}
main .delete i{
    font-size: 20px;
    color: green;
}
main .delete i:hover{
    font-size: 30px;
}
main .precio-carrito .total{
    border-radius: 15px;
    font-size: 60px;
    text-align: center;
    
}
main .precio-carrito button{
    width: 60%;
    border-radius: 40px;
    background-color: #BC0C2B;
}
main .precio-carrito button:hover{
    background-color: #c22d4f;
}
footer{
    text-align: center;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.397) ;
    
}
#encabezadoFooter{
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    font-family: sans-serif ;
    color: rgb(255, 255, 255);
}
@media (min-width: 768px){
    main .datos-carrito h3{          
        font-size: 4vh;        
    }
    main input{
        width: 50%;
    }
}

@media (min-width: 769px) {    
    .objetos article:hover{
        box-shadow: 10px 10px 35px -1px rgba(0,0,0,0.64);
        transition-duration: 500ms;
    }
    main{
        width: 100%;
        margin: 10px
    }
}
